/* CSS - Reset */
html,
body,
div,
em,
img,
form,
label,
footer,
header,
menu,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

:root {
  --grid-cell-count: 16;
  --grid-width: 50rem;
  --cell-color: darkslategray;
}

html {
  font-size: 14px;
  font-family: sans-serif;
}

body {
  height: auto;
  width: 100vw;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-items: space-evenly;
  align-items: center;
}

h1 {
  font-size: 3.5rem;
  color: darkslategrey;
}

.buttons {
  width: var(--grid-width);
  display: flex;
  justify-content: end;
  gap: 0rem 1rem;
}

input {
  height: 2.5rem;
  font-size: 1.5rem;
  background-color: yellow;
  border: 0.2rem solid darkslategray;
  border-radius: 5%;
}

input:hover {
  border-color: black;
  box-shadow: 0rem 0rem 0.25rem black;
}

input:active {
  background-color: whitesmoke;
}

.color-selecter {
  padding: 0.2rem;
}

.clear-button {
  background-color: darkslategray;
  color: whitesmoke;
}

.clear-button:active {
  background-color: black;
}

.grid {
  height: var(--grid-width);
  width: var(--grid-width);
  border: 0.2rem solid darkslategray;
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(var(--grid-cell-count), 1fr);
  grid-template-rows: repeat(var(--grid-cell-count), 1fr);
}

.cell {
  border: 0.1rem solid darkslategray;
}

.cell-hover {
  background-color: var(--cell-color);
  border-color: none;
}

@media (max-width: 1000px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 750px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 7px;
  }
}
